/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	margin: 0px;
	padding: 0px;
	/*	font-family: 'Lexend Deca', sans-serif;*/
	font-size: 14px;
	letter-spacing: .3px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #95D343;
}

img {
	max-width: 100%;
}

.btn-style {
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 40px;
	font-size: 17px;
	font-weight: 400;
}

.btn-style-1 {
	color: #fff;
	border: 1px solid #98d443;
	padding: 12px 40px;
	font-size: 17px;
	font-weight: 400;
	background-color: #98d443;
}

.btn-style:hover {
	background-color: #98d443;
	color: #fff;
	border-color: #98d443;
}

.btn-style-1:hover {
	color: #fff;
	border: 1px solid #AFFC3C;
	background-color: #AFFC3C;
	padding: 12px 40px;
	font-size: 17px;
	font-weight: 400;
}

.mfp-zoom-out-cur header.sticky .sticky {
	z-index: -1;
} 

header.sticky {
	position: sticky;
	top: 0;
	z-index: 999;
}

header.sticky .main-header {
   background-color: #FFF;
}

header {
	box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
}

header .logo {
	width: 200px;
	height: 60px;
	margin: auto;
}

header .logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

header .header-top {
	background-color: #000;
	border-bottom: 1px solid #CCC;
	padding: 6px 0px;
	font-size: 14px;
}

header .header-center li a.nav-link {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	color: #606060;
	display: flex;
	align-items: end;
	gap: 5px;
	padding: 8px 0px!important;
	position: relative;
}

header .header-center li {
	position: relative;
	padding: 18px 25px;
}

header li.active a.nav-link {
	color: #95D343;
}

header li.active a.nav-link::after {
	height: 2px;
	width: 30%;
	position: absolute;
	bottom: 0px;
	content: "";
	background-color: #95D343;
}

header li a.nav-link:hover {
	color: #95D343;
}

header .navbar-collapse {
	justify-content: end;
}

header  .navbar-expand-lg .navbar-nav a.login-btn i {
	font-size: 14px;
}

header  .navbar-expand-lg .navbar-nav a.login-btn {
	display: flex;
	align-items: baseline;
	background-color: #00B0F0;
	color: #fff;
	font-weight: 500;
	border-radius: 1px;
	padding: 10px 23px!important;
	border-radius: 2px;
} 

footer img {
	height: 70px;
	margin-bottom: 20px;
}

footer img.app {
	width: 120px;
	margin-bottom: 0px;
	border-radius: 8px;
}

footer {
	background-color: #383B3F;
	color: #fff!important;
	font-weight: 300;
}

footer a {
	font-weight: 200;
	color: #fff!important;
}

footer .links .title {
	margin-bottom: 35px;
}

footer .address {
	line-height: 24px;
	letter-spacing: .2px;
	/*padding-left: 12px;*/
	word-spacing: 2px;
	font-size: 14px;
	color: #fff!important;
}

footer .footer-right {
	justify-content: space-between;
/*	display: flex;
	flex-wrap: wrap;
	gap: 20px;*/
}


footer .contact {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

footer .contact i {
	position: absolute;
	top: 4px;
	left: 0;
}

footer .contact .content {
	padding-left: 30px;
}

footer .footer-right .col-lg-3:nth-child(2) {
	display: flex;
	justify-content: space-around;
}

footer .touch a{
	display: flex;
}

footer a:hover {
	color: #95D343!important;
}

footer .title {
	color: #fff;
	font-weight: 600;
	margin-bottom: 25px;
	position: relative;
}

footer .title::after {
	position: absolute;
	content: "";
	height: 2px;
	background-color: #fff;
	bottom: -10px;
	width: 20%;
	left: 0;
}

footer i {
	color: #fff;!important;
}

footer form {
	position: relative;
}

footer form .form-control {
	padding: 12px 20px;
	border-radius: 2px;
	font-weight: 300;
	font-size: 16px;
}

footer .social-media {
	display: flex;
	align-items: center;
	font-size: 16px;
	gap: 25px;
	padding: 0px;
	margin-bottom: 0px;
}

footer .social-media a {
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 100px;
}

footer .social-media a i{
	color: #98D443!important;
}

footer form .form-control:focus {
	box-shadow: unset;
	border-color: #98D443;
}

footer form button {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #98D443;
	border: none;
	font-size: 18px;
}

footer #subscribe {
	width: 80%;
}

footer #subscribe .input-group .form-control:focus {
	box-shadow: unset;
	border-color: #0495ff;
}

footer #subscribe button[type="submit"] {
	background-color: #0495ff;
	color: #FFF;
	border: unset;
}

.footer-bottom {
	font-size: 14px;
	padding: 6px 0px;
}

.footer-bottom ul li {
	border-right: 2px solid #ccc;
	margin-right: 10px;
	padding-right: 10px;
}

.footer-bottom ul li:last-child {
	border-right: 0px;
}

footer .links ul li a::before {
	content: "\f105";
	font-family: var(--fa-style-family,"Font Awesome 6 Free");
  	font-weight: var(--fa-style,900);
  	position: absolute;
  	left: 0;
  	top: 0;
}

footer .links ul li a {
	padding-left: 18px;
	position: relative;
}


/* Home Page */

.banner {
	height: 630px;
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, .3);
	color: #FFF;
}

.banner .container, .banner .container .row {
	height: 100%;
	align-items: center;
}

.banner .content span {
	color: #98d443;
	margin-bottom: 20px;
	font-size: 16px;
}

.banner .content .title {
	letter-spacing: 0.4px;
	text-transform: capitalize;
	font-size: 55px;
	margin-bottom: 25px;
	line-height: 70px;
	font-weight: 500;
}

.banner .content .p {
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 40px;
	font-size: 16px;
}

.banner .owl-dots {
	display: flex;
	width: auto;	
	position: absolute;
	left: 50%;
	bottom: 35px;
	flex-wrap: wrap;
	gap: 10px;
}

.banner .owl-dots button span{
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 100px;
	padding: 3px!important;
	display: block;
	opacity: .8;
}

.banner .owl-dots button.active  {
	padding: 3px!important;
	border: 3px solid #fff;
	border-radius: 100px;
	border-color: #95D343;
}

.banner .owl-dots button.active span {
	background-color: #95D343;
	width: 8px;
	height: 8px;
	opacity: 1;
}

.banner .owl-carousel .owl-nav {
	opacity: 0;
	transition: 1.2s all;
}

.banner:hover .owl-carousel .owl-nav {
	opacity: 1;
}

.banner .owl-carousel .owl-nav button{
	background: #95D343;
	color: #FFF;
	width: 26px;
	height: 80px;
	border-radius: 50px;
}

.banner .owl-carousel .owl-nav button:hover {
	background-color: #FFF;
	color: #000;
}

.banner .owl-nav .owl-prev {
	left: 30px;
	position: absolute;
	top: 45%;
}

.banner .owl-nav .owl-next {
	right: 30px;
	position: absolute;
	top: 45%;
}


.inspiration {
	padding: 70px 0px;
}

.inspiration-list {
	padding-top: 70px;
}

.inspiration-list .inspiration-box {
	padding: 40px 30px;
	background-color: #F4F4F4;
	height: 100%;
}

.inspiration-list .col-lg-3 {
	margin-bottom: 25px;
}

.inspiration .head-element {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	opacity: .9;
}

.inspiration .image-box {
	height: 200px;
	width: 200px;
	margin: auto;
	overflow: hidden;
}

.inspiration .image-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.inspiration .name {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	padding: 30px 0px 20px;
	opacity: .9;
	text-transform: uppercase;
}

.about {
	padding: 20px 0px 60px;
}

.about .head-element {
	text-align: center;
	font-size: 35px;
	font-weight: 600;
	opacity: .9;
	text-transform: uppercase;
}

.about .about-content-warpper {
	opacity: .8;
	font-weight: 500;
	letter-spacing: .4px;
	word-spacing: 3px;
	padding-top: 50px;
}

.our-thougths {
	padding: 70px 0px;
	background-position: center;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, .4);
	background-blend-mode: multiply;
}

.our-thougths .our-thoughts-content{
	opacity: .8;
	font-weight: 500;
	letter-spacing: .4px;
	word-spacing: 3px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.values {
	padding: 90px 0px;
	background-color: #F4F4F4;
}

.values img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.values .head-element {
	text-align: ;
	font-size: 35px;
	font-weight: 600;
	opacity: .9;
	text-transform: uppercase;
	padding: 10px;
}

.values .head-element span {
	position: relative;
}

.values .head-element span::after {
	position: absolute;
	height: 3px;
	width: 30%;
	content: "";
	bottom: -8px;
	left: 0;
	background-color: #000;
	opacity: .8;
}

.values .values-warpper {
	opacity: .8;
	font-weight: 500;
	letter-spacing: .4px;
	word-spacing: 3px;
	padding-top: 20px;
}

.values .values-warpper ul li {
	padding-left: 26px;
	position: relative;
}

.values .values-warpper ul li::before {
	content: "\f058";
   font-family: var(--fa-style-family, "Font Awesome 6 Free");
   font-weight: var(--fa-style, 900);
	position: absolute;
	left: 0;
	color: #95D343;
}


.values .image {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.values .image .play {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.values .image .play img {
	width: 75px;
	height: 75px;
	opacity: .8;
}

/*gallery*/

.page-head-section {
	background-color: rgba(0, 0, 0, .4);
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
	padding: 50px 0px;
	letter-spacing: .8px;
}

.page-head-section .page-head-inner .page-title {
	font-size: 55px;
	font-weight: 400;
	margin-bottom: 15px;
}

.page-head-section .breadcrumb {
	justify-content: center;
	font-weight: 500;
}
 
.page-head-section .breadcrumb a {
	color: #fff;
}

.page-head-section .breadcrumb a:hover {
	color: #98d443;
}

.page-head-section .breadcrumb li {
	color: #fff;
}

.page-head-section .breadcrumb li::before {
	color: #fff;
}

.gallery {
	padding: 60px 0px;
}

.gallery .year {
	position: relative;
	padding: 0px 34px;
}

.gallery .year .list::-webkit-scrollbar {
  width: 10px; 
  display: none;
}

.gallery .year .list {
	display: flex;
	align-items: center;
	gap: 10px;
	white-space: nowrap;
	overflow-x: auto;
	justify-content: center;
}

.gallery .year .list.overflow {
	justify-content: start;
}

.gallery .year .list.overflow + .btn-scroll {
	display: block;
}

.gallery .year .list + .btn-scroll {
	display: none;
}

.gallery .year .list li a {
	display: block;
	padding: 2px 20px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #7b7b7b;
}

.gallery .year .list li.active a {
	background-color: #98d443;
	border-color: #98d443;
	color: #fff;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  width: 30px;
  height: 30px;
  background-color: #ddd; 
}

#scrollLeftBtn {
  left: 0px;
}

#scrollRightBtn {
  right: 0px;
}

.gallery .gallery-photos {
	padding: 40px 0px 20px;
}

.gallery  .gallery-image {
	height: 200px;
	background-color: rgba(152, 212, 67, .5);
	margin-bottom: 25px;
	position: relative;
}

.gallery .title {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 30px;
}

.gallery  .gallery-image .name {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: .7s all;
	font-size: 26px;
	cursor: pointer;
}

.gallery  .gallery-image:hover .name {
	opacity: 1;
}

.gallery .gallery-image img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.gallery  .gallery-videos .play {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: .5s all;
}

.gallery  .gallery-image:hover .play {
	background-color: rgba(0, 0, 0, .5);
}

.gallery  .gallery-videos .play img {
	width: 55px;
	height: 55px;
	opacity: .8;
}

/*event*/

.events {
	padding: 60px 0px;
}

.event {
	background-color: #F4F4F4;
	padding: 30px;
	border-radius: 10px;
	height: 100%;
}

.event .type {
	color: #FFF;
	background-color: #95D343;
	padding: 1px 10px;
	border-radius: 5px;
	display: inline-block;
}

.event .event-title {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .6px;
	text-transform: capitalize;
	margin-bottom: 4px;
}

.event .date {
	font-size: 16px;
	font-weight: 500;
	color: #6e6d6d;
	margin-bottom: 10px;
}

.event .event-details {
	margin-bottom: 10px;
}

.event .meeting {
	color: #4D5154;
	font-weight: 500;
	overflow: hidden;
}

.event-pagination {
	margin: 30px 0px 10px;
	align-items: center;
}

.event-pagination .page-item .page-link{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 17px;
	padding: 0px;
	color: #685e5e;
}

.event-pagination ul {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.event-pagination .page-item.disabled {
	display: none;
}

.event-pagination .page-item.active .page-link {
	background-color: #95D343!important;
	border-color: #95D343;
	color: #fff;
	width: 40px;
	height: 40px;
	padding: 0px;
	font-size: 17px;
	align-items: center;
	border-radius: 6px;
	justify-content: center;
	display: flex;
}


/*contact*/

.contact-page {
	padding: 80px 0px;
}

.contact-page .contact-info {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
}

.contact-info  .logo{
	width: 20%;
}

.contact-info .content {
	width: 80%;
	padding-left: 20px;
}

.contact-info .content .title{
	font-size: 20px;
	color: #000;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.contact-info .content, .contact-info .content a {
	color: #6c757d!important;
	font-weight: 500;
	line-height: 22px;
}

.contact-info .content a:hover {
	color: #95D343!important;
}

.contact-info .logo .icon {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	background-color: #95D343;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #fff;
}

.contact-page .contact-form {
	padding-top: 90px;
}

.validation-error {
	color: red;
	margin-top: 10px;
	font-weight: 400;
	font-size: 12px;
}

.contact-page .contact-form .title {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	opacity: .9;
	margin-bottom: 50px;
}

.contact-form .form-control {
	background-color: #F4F4F4;
	border-color: #F4F4F4;
	border-radius: 0px;
	padding: 15px;
	transition: .5s all;
}

.contact-form .form-control:focus {
	box-shadow: unset;
	background: transparent;
	border-color: #95D343;
}

.map iframe{
	width: 100%!important;
	height: 400px!important;
}

/* Donate */

.donate {
	padding: 70px 0px;
}

.donate .note {
	padding: 20px 30px;
	margin-bottom: 40px;
	background-color: rgba(0, 176, 240, .1);
	font-size: 17px;
	font-weight: 400;
	letter-spacing: .3px;
	position: relative;
	border-radius: 4px;
}

.donate .note p {
	font-size: 17px;
	font-weight: 500;
}

.donate .title-btn {
	border: 1px solid #95D343;
	background-color: #95D343;
	border-radius: unset;
	font-weight: 400;
	font-size: 20px;
	padding: 10px 50px 10px 30px;
	color: #000;
	border-radius: 5px 5px 0px 0px;
	margin-right: 5px;
 	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 95%, 84% 0);
  	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 95%, 84% 0);
}

.donate .bank-transfer .bank-details {
	padding: 40px;
	border: 1px solid #ccc;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
}

.donate .bank-transfer td {
	padding: 10px 30px;
}

.donate .bank-transfer {
	margin-bottom: 40px;
}

.donate .upi-option img {
	width: 80px;
	padding-right: 20px;
}

.donate .upi-detail .form-control {
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .6px;
}

/*login*/

.login {
	padding: 50px 0px;
	background-color: #F4F4F4;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: .4px;
}

.login .login-form {
	background-color: #fff;
	padding: 40px;
	border-radius: 5px;
}

.login .title {
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.login .form-control {
	border-radius: unset;
	border: unset;
	border-bottom: 1px solid #ccc;
	font-weight: 400;
	font-size: 14px;
	padding: 6px 8px;
	height: 45px;
}

.login .form-control:focus {
	box-shadow: unset;
	border-color: #95D343;
}

.login .form-floating label {
	font-size: 15px;
	color: #a2a2a2;
	font-weight: 400;
	padding: 6px 20px;
}

.login button[type="submit"] {
	width: 100%;
	padding: 8px 30px;
	display: block;
	margin: 20px 0px;
	border: 2px solid #95D343;
	background-color: #95D343;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
}

.login .bottom {
	text-align: center;
	padding-top: 20px;
}


/* financial */

.financial {
	padding: 60px 0px;
}

.financial .title {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.financial .table {
	margin: 50px 0px;
}

.financial .table th {
	font-size: 18px;
	letter-spacing: .5px;
	background-color: #eee;
	padding: 10px 20px;
}

.financial .table td {
	font-size: 16px;
	padding: 10px 20px;
}

.event-pagination {
	margin: 30px 0px 10px;
}

 .event-pagination li a{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 17px;
}

.event-pagination ul {
	display: flex;
	justify-content: center!important;
	gap: 10px;
}

.event-pagination li.active a {
	background-color: #95D343;
	background-color: #95D343;
	color: #fff;
}

.contact-details .row {
	justify-content: center;
}









@media only screen and (min-width:1400px) {
	.container {
		max-width:1270px
	}
}


@media only screen and (max-width:1400px) {
	header .header-center li a{
		font-size: 14px!important;
	}

	.banner .col-lg-7 {
		padding-left: 60px;
	}
}

@media only screen and (max-width:1200px) {
	.banner .col-lg-7 {
		padding-left: 0px;
	}

	.inspiration .image-box {
		width: 150px;
		height: 150px;
	}

	.inspiration .name {
		font-size: 16px;
		padding-bottom: 0px;
	}

	.contact-info .content {
		padding-left: 40px;
	}

	footer .social-media {
		gap: 20px;
	}
}

@media only screen and (max-width:992px) {
	header .logo {
		margin: 0;
	}

	.navbar-toggler img {
		width: 30px;
		float: right;
	}

	header .header-center {
		border-top: 1px solid #eee;
		margin-top: 15px;
	}

	header .header-center li {
		padding: 10px 20px;
		border-bottom: 1px solid #eee;
	}

	header .header-center li::last-child {
		border-bottom: none;
	}

	header .navbar-expand-lg .navbar-nav a.login-btn {
		width: auto;
		display: inline-block;
	}

	.banner .owl-carousel .owl-nav button {
		display: none;
	}

	.banner .content {
		text-align: center;
	}

	footer .footer-right .col-lg-3:nth-child(2) {
		justify-content: start;
	}

	.contact-details .contact-info {
		margin-bottom: 30px;
	} 
}

@media only screen and (max-width:767px) {
	.donate .upi-option img {
		width: 60px;
	}

	.contact-details .contact-info .content {
		padding-left: 0px;
	}

	.contact-page .contact-form {
		padding-top: 30px;
	}
}


@media only screen and (max-width:567px) {

	.body {
		font-size: 12px;
	}

	.banner {
		height: 400px;
	}

	.banner .content {
		padding: 0px 15px;
	}

	.banner .content .title {
		font-size: 28px;
		line-height: 35px;
	}

	.banner .owl-dots {
		left: 45%;
	}

	.banner .btn-style {
		padding: 8px 20px;
		font-size: 15px;
		margin-top: 10px;
		display: inline-block;
	}

	.banner .owl-dots button span {
		width: 10px;
		height: 10px;
	}

	.banner .owl-dots button.active span {
		width: 5px;
		height: 5px;
	}

	.head-element {
		font-size: 24px!important;
	}

	.inspiration {
		padding: 40px 0px;
	}

	.inspiration-list {
		padding-top: 40px;
	}

	.about {
		padding-top: 0px;
	}

	.about .about-content-warpper {
		padding-top: 30px;
		text-align: justify;
		font-size: 13px;
	}

	.values {
		padding: 40px 0px;
	}

	.values .col-lg-7, .values .col-lg-5 {
		padding: 0px;
	}

	.values .values-warpper {
		font-size: 13px;
	}

	.our-thougths {
		padding: 40px 0px;
	}

	.our-thougths .our-thoughts-content {
		font-size: 13px;
	}

	.donate .note {
		font-size: 14px;
		text-align: justify;
		padding: 15px 20px;
	}

	.donate .bank-transfer .bank-details {
		padding: 10px;
		font-size: 10px;
	}

	.donate .title-btn {
		padding: 6px 30px 6px 15px;
		font-size: 14px;
		font-weight: 600;
	}

	.donate .bank-transfer td {
		padding: 6px 12px;
	}

	.donate .upi-detail {
		display: inline-block;
		margin-top: 20px;
	}

	.donate .upi-detail .form-control {
		font-size: 14px;
	}

	.financial .title {
		font-size: 24px;
	}

	.financial .table th {
		font-size: 15px;
	}

	.financial .table td {
		font-size: 14px;
	}

	.event-pagination li a {
		width: 30px!important;
		height: 30px!important;
		font-size: 13px;
	}

	.event {
		padding: 20px;
	}

	.event .event-title{
		font-size: 16px;
	}

	.event .date {
		font-size: 14px;
	}

	.event .event-details {
		font-size: 12px;
		text-align: justify;
	}

	.event .meeting {
		font-size: 13px;
	}

	.contact-info .logo .icon {
		width: 50px;
		height: 50px;
		font-size: 20px;
	}

	.contact-details .contact-info .content {
		padding-left: 14px;
		font-size: 12px;
	}

	.contact-info .content .title {
		font-size: 16px;
		margin-bottom: 5px;
	}

	.contact-page .cotact-form .title {
		font-size: 20p;
	}

	.login .login-form {
		padding: 20px;
	}

}

@media only screen and (max-width:300px) {
	footer .social-media {
		gap: 12px;
	}
} 